@import url("https://nyri4.github.io/donators/donators.css");
:root .buttons_d5deea {
  transition: opacity 150ms;
}
:root .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 {
  position: fixed;
  bottom: 26.5px;
  left: 327.5px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}